* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}


body {
    margin: 0;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
}

/* TOMBOL LOG OUT*/
.tombol-keluar {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;

    background-color: #8B0000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


/*SIDEBAR*/
.sidebar {
    width: 260px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #8b0000, #3b0000);
    color: #fff;
    padding: 20px 15px;
}

.sidebar.tertutup {
    width: 60px;
}

/* SEMBUNYIKAN SEMUA ISI SIDEBAR */
.sidebar.tertutup .logo span,
.sidebar.tertutup .item-menu,
.sidebar.tertutup .submenu,
.sidebar.tertutup .item-submenu,
.sidebar.tertutup .garis-menu {
    display: none !important;
}

/* TOMBOL < HARUS TETAP MUNCUL */
.sidebar.tertutup .tombol-menu {
    display: block;
    margin: 0 auto;
}

/*LOGO*/
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.tombol-menu {
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

/*GARIS*/
.garis-menu {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.35);
    margin: 12px 0;
}

/*MENU*/
.item-menu {
    display: block;
    padding: 8px 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}


.item-menu.aktif {
    text-decoration: underline;
}

/*PANAH*/
.panah-menu {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*SUBMENU*/
.submenu {
    display: none;
    text-align: center;
    margin-top: 5px;
}

.submenu.aktif {
    display: block;
}

.item-submenu {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    color: rgba(255, 200, 200, 0.85);
    text-decoration: none;
    cursor: pointer;
}

.item-submenu.aktif {
    color: #ffffff;
    font-weight: bold;
}

/*KONTEN*/
.konten {
    flex:1;
    position: relative;  
    padding: 20px 40px 30px;
}

/*FORM WRAPPER*/
.pembungkus-form {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

/*FOTO*/
.kotak-foto {
    width: 180px;
    text-align: center;
}

.pratinjau-foto {
    width: 160px;
    height: 200px;
    background: #d9d9d9;
    margin-bottom: 10px;
    border: 2px solid #999;
}

.tombol-unggah {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

/*FORM*/
.form {
    flex: 1;
    max-width: 900px;
}

.baris-form {
    display: grid;
    grid-template-columns: 240px 1fr; 
    align-items: center;
    column-gap: 20px;
    margin-bottom: 14px;
}

.baris-form label {
    font-size: 14px;
}

.baris-form input {
    height: 36px;
    border: 1px solid #888;
    padding: 6px 10px;
    width: 100%;
}

.baris-form textarea {
    height: 100px;
    border: 1px solid #888;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

.aksi-form {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
    padding-right: 1px; 
}

.tombol-ubah {
    background: #f1c40f;
    color: #fff;
    border: none;
    padding: 8px 22px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.tombol-hapus {
    background: #c0392b;
    color: #fff;
    border: none;
    padding: 8px 22px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.tombol-tambah {
    background: #27ae60;
    color: #fff;
    border: none;
    padding: 8px 22px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.aksi-vertikal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tabel-riwayat {
    width: 700px;       
    max-width: 100%;
    margin-top: 30px;
}

.tabel-riwayat th,
.tabel-riwayat td {
    border: 0.8px solid #555;
    padding: 8px;
    text-align: center;
}

.btn-kecil {
    width: 90px;         
    padding: 8px 0;        
    font-size: 14px;
    border-radius: 6px;
}


